### Aliases ###

# General Aliases
alias :hi="history"
alias :x="startx"
alias :q="exit"
alias :reload="source ~/.zshrc"
alias reload="exec $SHELL -l"
alias ls:all="ls -lAh"
alias ls:me="ls -lh"
alias lsd="ls -lF"
alias lsa="ls -alh"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ip:local="ifconfig | grep 'inet ' | awk '{ print $2 }'"
alias ips='ifconfig -a | grep -o "inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)" | awk "{ sub(/inet6? (addr:)? ?/, \"\"); print }"'

# Navigation Aliases
alias .="cd ../"
alias ..="cd ../../"
alias work="cd ~/Projects"

# OS Aliases
alias :show="defaults write com.apple.finder AppleShowAllFiles YES && killall Finder"
alias :hide="defaults write com.apple.finder AppleShowAllFiles NO && killall Finder"
alias update="sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update"

# Helpers
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias ping5="ping -c 5"
alias :df="df -h"
alias :du="du -h -c"

# Git Aliases
alias pull="git pull"
alias g:fuck="git stash && git pull"
# alias g:s="tig"
alias branch="git branch"
alias checkout="git checkout"
alias merge="git merge"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"
