### Aliases ###

# General Aliases
alias :hi="history"
alias _="clear"
alias :x="startx"
alias :rbt="sudo reboot"
alias :shd="sudo shutdown -h now"
alias :q="exit"
alias :reload="source ~/.zshrc"
alias reload="exec $SHELL -l"
alias ls:all="ls -lAh"
alias ls:me="ls -lh"
alias lsd="ls -lF"
alias lsa="ls -alh"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ip:local="ifconfig | grep 'inet ' | awk '{ print $2 }'"
alias ips='ifconfig -a | grep -o "inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)" | awk "{ sub(/inet6? (addr:)? ?/, \"\"); print }"'

# Navigation Aliases
alias :z="cd ../"
alias :zz="cd ../../"
alias :work="cd ~/Projects"

# OS Aliases
alias :show="defaults write com.apple.finder AppleShowAllFiles YES && killall Finder"
alias :hide="defaults write com.apple.finder AppleShowAllFiles NO && killall Finder"
alias update="sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update"

# Helpers
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias ping5="ping -c 5"
alias :df="df -h"
alias :du="du -h -c"

# Git Aliases
alias g:p="git pull"
alias g:fuck="git stash && git pull"
alias g:s="tig"
alias g:b="git branch"
alias g:c="git checkout"
alias init="git init"

# Grunt
alias grunt:build="grunt build"
alias grunt:serve="grunt serve"
alias grunt:test="grunt test"

# Gulp
alias :build="gulp build"
alias :serve="gulp serve"
alias :test="gulp test"

# Ionic tasks
alias i:serve="ionic serve"
alias i:build="ionic build"
# alias i:emulate="ionic emulate"
alias i:run="ionic run"
alias c:prepare="cordova prepare"

# Vagrant Aliases
alias v:up="vagrant up"
alias v:halt="vagrant halt"
alias v:ssh="vagrant ssh"

# Package installation
alias :hbi="brew install"
alias :gi="gem install"
alias :bi="bower install"
alias :ni="npm install"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"
